---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/portfolio/Hero.astro";
import ScrollShowcase from "../components/portfolio/ScrollShowcase.astro";
---

<Layout>
  <div class="app-root">
    <canvas data-space-canvas class="pointer-events-none fixed inset-0 z-[1]"></canvas>
    <main class="relative z-10">
      <Hero />
      <article>
        <ScrollShowcase />
      </article>
    </main>
  </div>
</Layout>

<script>
  import "../scripts/client.ts";
</script>
